<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>TIRUPP HR</title>
</head>
<body>
    <section class="section1">
    <div class="height">
        
     <nav class="navbar">
         <div class="logo">TIRUPP HR</div>
         <div class="navbar-links">
            <ul>

                <li><a href="/">Home</a> </li>
                <li><a href="/payroll"> Payroll</a></li>
                <li> <a href="/benefits"> Beneits</a></li>
                <li><a href="/pricing"> Pricing</a></li>
                <li><a href="/work"> Work with us</a></li>
            </ul>
         </div>
            <div class="button-1">
                <button class="btn">SIGN IN<i class="bi bi-chevron-compact-right"></i>            
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                    </svg>
                    
                </button>
                
           

         </div>
         

     </nav>


    
     <div class="button-1">
        <button class="btn-1">Try for free Now!<i class="bi bi-chevron-compact-right"></i>            
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg>
            
        </button>
        </div>

        <div class="first">

        
        <div class="container">
            Set &nbsp; Your &nbsp; Business &nbsp; Up &nbsp; With &nbsp;  Modern &nbsp;Payroll, &nbsp;Benefits , &nbsp; And &nbsp; HR
            </div>
            <div class="boxes">
            <div class="box1">&nbsp; Add New employee &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-search"></i> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"      class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>  &nbsp; inbox
               
                 
                
             </div>
             <div class="img1"> <img src="../static/img1.jpg" alt=""> Jillian Wilde
            </div>
             <div class="text2">Full-Time . Los Angeles</div>
            <div class="box2">
                <div class="head">
                    Job Details
                </div>
                <div class="cat1">
                    <ul>
                        <li>Job Title</li>
                        <div class="new">
                        <li>class instructor</li>
                        <li><i class="bi bi-check-circle-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg></li>
                          </div>
                    </ul>
                </div>
                <div class="cat1">
                    <ul>
                        <li >Department</li>
                        <div class="new">
                        <li >Fitness Training</li>
                        <li><i class="bi bi-check-circle-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg></li>
                        </div>
                    </ul>
                </div>
                <div class="cat1">
                    <ul>
                        <li>Work Location</li>
                        <div class="new">
                        
                        <li>Los Angeles</li>
                        <li><i class="bi bi-check-circle-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg></li>
                          </div>
                        
                    </ul>
                </div>
            
            <div class="cat1">
                <ul>
                    <li>Classification</li>
                    <div class="new">
                    <li>Independent Contractor</li>
                    <li><i class="bi bi-check-circle-fill"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg></li>
                      </div>
                </ul>
            </div>
       
        <div class="cat1">
            <ul>
                <li class="hire">Hire Date</li>
                <div class="new">
                <li>01/08/2020</li>
                <li><i class="bi bi-check-circle-fill"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg></li>
                </div>
            </ul>
        </div>
    </div>

            <div class="box3">

            
            <img class="img2" src="../static/img2.jpg" alt="">
            <div class="simple1">
            <ul>
                <li class="text1">John Williams</li>
                <li class="text2">UI Designer</li>
                <li class="text2">$45/hr</li>
            </ul>
            </div>
            <div class="payment">
            <ul>
                <li class="text4">Total pay</li>
                <li class="text5">$7558</li>
                <li ><button class="text6">Paid <i class="bi bi-check-square-fill"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                </svg></button></li>
            </ul>
            </div>
                  
                
            </ul>
            </div>
            </div>

           
        
    </div>
          <div class="boxes2">
          <div class="search-bar">
     
            <input type="text" class="search" id="search" placeholder= "@ Your email address" >    
            <button class="btn-2"> Get Started</button>

            </div>
            <div class="box4">
                <div class="line1">
                Select the best medical plan for you
                </div>
                <div class="small-text">
                    <ul>
                        <div class="coloumn">
                        <li>Blue Cross</li>
                        <li>PPO Direct 6k</li>
                         </div>
                        <li><i class="bi bi-circle-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                        </svg></li>
                    </ul>
            </div>
            <div class="dollar">$644</div>
           
                
            </div>
            </div>
            <div class="text-here">
                Our plans were buit to fit your unique needs. Streamline onboarding, benefits, payroll, PTO and more with our simple, intutive platform
            </div>
            </div>
            <div class="slantheight">
            </div>
            </div>

           

    </section>
   
    <div class="last">
        <ul>
            <li><i class="bi bi-check-circle-fill">
            </i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
              Free 14-day Demo</li>
            <li><i class="bi bi-check-circle-fill"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg> No Credit Card Needed</li>
            <li><i class="bi bi-check-circle-fill"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg> No Setup</li>
            
        </ul>
    </div>

    <section class="section2">
        <div class="area1">
            <ul><div class="border">
                <li><i class="bi bi-people"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                </svg></div>
                  <li class="hr">HR</li>
                  <li class="manage">Manage your people with ease.</li>
            </ul>
        </div>
        <div class="boxes3">
        <div class="box5">
           <div class="start"> Add a Candidate</div>
            <div class="sample-lines">
            <div class="lines">
               <div class="line2-blue"></div>
               <div class="line3"></div>
            </div>
            <div class="lines">
                <div class="line2-blue"></div>
                <div class="line3"></div>
            </div>
            <div class="lines">
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <div class="lines">
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
             
            </div>
            <div class="offer-letter">
            Review Your offer letter to Jilian Wilde 
        </div>
      
        <div class="lines3">
            <div class="line4"></div>
            <div class="line5"></div>
        </div>
        <div class="box8">
            <div class="dear">Dear Jilian Wilde,</div>
            <div class="inside-box">
            <div class="part1">
            <div class="lines4">
                <div class="line6"></div>
                <div class="line7"></div>
                <div class="line6"></div>
                <div class="line7"></div>
            </div>
            <div class="lines5">
                <div class="line6"></div>
                <div class="line7"></div>
            </div>
            <div class="lines6">
                <div class="line6"></div>
                <div class="line7"></div>
            </div>
            <div class="lines6">
                <div class="line6"></div>
                <div class="line7"></div>
            </div>
            <div class="lines5">
                <div class="line6"></div>
                 <div class="line7"></div>
            </div>
        </div>
        <div class="part2">
            <div class="part2-1">
               <div class="pos">Position</div>
               <div class="manager">Manager</div>
            </div>
            <div class="part2-2">
                <div class="pos">Salary</div>
                <div class="manager">$999.00 Per Week</div>
            </div>
            <div class="part2-2">
                <div class="pos">Joining date</div>
                <div class="manager">August 01,2021</div>
            </div>
            <div class="part2-2">
                <div class="pos">Employee</div>
                <div class="manager">Rosa Amador</div>
            </div>
            <div class="part2-3">
                <button class="new-btn">SEND OFFER</button>
            </div>
        
        </div>                            
        </div>
        </div>
        </div>
        <div class="row-box">
        <div class="box6">
            <div class="head1">Job Details
                
            </div>
            <div class="cat1">
                <ul>
                    <li>Job Title</li>
                    <div class="new">
                    <li>class instructor</li>
                    <li><i class="bi bi-check-circle-fill"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg></li>
                      </div>
                </ul>
            </div>
            <div class="cat1">
                <ul>
                    <li >Department</li>
                    <div class="new">
                    <li >Fitness Training</li>
                    <li><i class="bi bi-check-circle-fill"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg></li>
                      </div>
                </ul>
            </div>
            <div class="cat1">
                <ul>
                    <li>Work Location</li>
                    <div class="new">
                    
                    <li>Los Angeles</li>
                    <li><i class="bi bi-check-circle-fill"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg></li>
                      </div>
                    
                </ul>
            </div>
        
            <div class="cat1">
                <ul>
                    <li>Classification</li>
                    <div class="new">
                    <li>Independent Contractor</li>
                    <li><i class="bi bi-check-circle-fill"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg></li>
                     </div>
                </ul>
            </div>
   
            <div class="cat1">
                <ul>
                    <li class="hire1">Hire Date</li>
                    <div class="new">
                    <li>01/08/2020</li>
                    <li><i class="bi bi-check-circle-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg></li>
                    </div>
                </ul>
            </div>
            </div>
        
             <div class="box7">
            <div class="heading">
            <div class="emp">Employee Directory</div>
            <div class="show">Show All</div>
            </div>
            <div class="boxes4">
                <div class="box9">
                    <img class="img3" src="../static/img3.jpg" alt="">
                </div>
               
                 <div class="left">
                     <div class="name">Naomi Brett</div>
                     <div class="software">Software Engineer</div>
                 </div>
                 <div class="left1">
                    <div class="time">Full-Time</div>
                    <div class="place">San francisco</div>
                </div>

                <div class="box10">
                     <img class="img3" src="../static/img4.jpg" alt="">
                </div>
           
                <div class="right">
                 <div class="name">Naomi Brett</div>
                 <div class="software">Software Engineer</div>
                </div>
                 <div class="right1">
                <div class="time">Full-Time</div>
                <div class="place">San francisco</div>
                </div>
            </div>

           
             </div>
        </div>
        </div>

      

    </section>
    <section class="section3">
        <div class="area1">
            <ul><div class="border">
                <li><i class="bi bi-reception-4"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reception-4" viewBox="0 0 16 16">
                    <path d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-8zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-11z"/>
                </svg></div>
                  <li class="hr">Payroll</li>
                  <li class="manage">Payroll that's easy to use and seriously smart.</li>
            </ul>
        </div>
        <div class="logos">
            <div class="logo-1">
               <div class="l1"><img class="logo-1-1"src="../static/img6.jpeg" alt=""></div>
               <div class="T1">Unlimited payrolls</div>
                <div class="T1">Clear pricing. No Surprises</div>
            </div>
            <div class="logo-1">
                <div class="l1"><img class="logo-1-1"src="../static/img7.jpeg" alt=""></div>
                <div class="T1">Automatically Files</div>
                <div class="T1">your payroll taxes</div>
            </div>
            <div class="logo-1">
                <div class="l1"><img class="logo-1-1"src="../static/img8.jpeg" alt=""></div>
                <div class="T1">Compliance,accuracy</div>
                <div class="T1">and peace of mind</div>
            </div>
             <div class="logo-1">
                 <div class="l1"><img class="logo-1-1"src="../static/img9.jpeg" alt=""></div>
                 <div class="T1">Unlimited payrolls</div>
                 <div class="T1">Clear pricing. No Surprises</div>
             </div>
        </div>
    </section>
    <section class="section4">
        <div class="area2">
            <ul><div class="border1">
                <li><i class="bi bi-file-text"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                </svg></div>
                  <li class="hr1">Benefits</li>
                  <li class="manage1">Finally, employee benefits for every business.</li>
            </ul>
        </div>
        <div class="boxes5">
            <div class="box11">
                <div class="benefits">Benefits</div>
                <div class="para">Select The Medical Plan that's Best For You And Your Family</div>
                <div class="line-a"></div>
                <div class="line-b"></div>
                <div class="line-a"></div>
                <div class="box14">
                <div class="tick"><i class="bi bi-check2"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg></div>
                  <div class="new-text">
                      <div> Blue Cross</div>
                      <div> PPO Direct HSA 3K</div>
                  </div>
                <div class="line-c"></div>
                <div class="line-c"></div>
                <div class="line-c"></div>
                <div class="line-d"></div>
                <div class="money">$393</div>
                </div>
               


            </div>
            <div class="arrange">
                <div class="box12">
                    <div class="heading2">
                    <div class="tirupp">Tripupp</div>
                    <div class="card">Benefits Card</div>
                </div>
                <div class="number">1234 &nbsp; 5678 &nbsp;  9000 &nbsp;  0000  &nbsp;</div>
                <div class="security">
                <div class="cvv">1234</div>
                <div class="dob">
                    <div class="valid">VALID THRU</div>
                    <div class="date">12/19</div>
                </div>
                </div>
                <div class="last-line">
                <div class="card-holder">MICHAEL WILLIAMS</div>
                <div class="circle">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                </div>
                </div> 
            
                </div>
                <div class="box13">
                    <div class="heading3">
                        <div class="head-1">Benefits</div>
                        <div class="head-2">Here's A Summary Of Plans Selected</div>
                    </div>
                    <div class="boxes6">
                        <div class="box15">
                            <div class="upper-area">
                                <div class="medical">Medical</div>
                                <div class="money-1">$393.23</div>
                            </div>
                            <div class="lines-inside">
                                <div class="line-x"></div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>   
                            <div class="plans">
                                <div class="plan">
                                    <button class="last-btn">Plan Details</button>
                                    <button class="last-btn">Change Plans</button>
                                </div>
                            </div>                         
                        </div>
                        <div class="box16"> 
                            <div class="upper-area">
                                <div class="medical">Medical</div>
                                <div class="money-1">$393.23</div>
                            </div>
                            <div class="lines-inside">
                                <div class="line-x"></div>
                                <div class="line-x"></div>
                                <div class="line-y"></div>
                            </div>   
                            <div class="plans">
                                <div class="plan">
                                    <button class="last-btn">Plan Details</button>
                                    <button class="last-btn">Change Plans</button>
                                </div>
                            </div>                         
                        </div>
                       
                        <div class="box17">
                            <div class="upper-area">
                                <div class="medical">Medical</div>
                                <div class="money-2">$39</div>
                            </div>
                            <div class="lines-inside">
                                <div class="line-x1"></div>
                                <div class="line-x1"></div>
                                <div class="line-y1"></div>
                            </div>   
                            <div class="plans">
                                <div class="plan">
                                    <button class="last-btn">Plan Details</button>
                                    <button class="last-btn">Change Plans</button>
                                </div>
                            </div>                         
                        </div>
                        
                       
                    </div>
                </div>

            </div>
        </div>
      
        
    </section>
    <section class="section5">
        <div class="logos1">
            <div class="logo-1">
                <div class="l1"><img class="logo-1-2"src="../static//img11.jpeg" alt=""></div>
                <div class="T2">Our benefits are to designed to be accesible for all</div>
                
            </div>
            <div class="logo-1">
                 <div class="l1"><img class="logo-1-2"src="../static/img10.jpeg" alt=""></div>
                 <div class="T2">A healthy team can better support your business and your bottom line.</div>
                
            </div>
            <div class="logo-1">
                 <div class="l1"><img class="logo-1-2"src="../static/img12.jpeg" alt=""></div>
                 <div class="T2">Become a business where talented people want to work and stick around</div>
                  
            </div>

        </div>
        <div class="quotes">
        <div class="quote-1">A Complete Platform Saves Your Time</div>
        <div class="quote-2">HR</div>
        <div class="quote-3">TripUpp streamlines your work flow by automatically conecting HR, Benefits, Payroll and Scheduling together in one platform. This means less time spent on low-priority tasks so your team can focus on more important things.</div>
        </div>
   
    </section>
    <section class="section6"></section>
    <section class="section7">
        
        <div class="why">Why Us?</div>
        <div class="underline"></div>
        <div class="last-boxes">
            <div class="box18">
                <div class="sentence-1">Hire and retain top talent.</div>
                <div class="sentence-2">We amake onboarding new employess ridiculously easy. On dayone, they're ready to go. And retaining them is easier too, with advanced HR tools like compensation reporting.</div>
            </div>
            <div class="box19"> <div class="sentence-1">Stay Compliant.</div>
            <div class="sentence-2">keeping a business compliant is made easier with Zenefits. we automate many of the compliance tasks and government fillings for you.</div>
            </div>
            <div class="box20">
                <div class="sentence-1">Improve Productivity.</div>
                <div class="sentence-2">Many of our feature like self onboaring,selecting benefits,and signing documents happen completely online, which means your employess will spend more time focussed on their care function.</div>
            </div>
            <div class="box21">
                <div class="sentence-1">Improve Employee Experience.</div>
                <div class="sentence-2">We improve your employee overall experience. From a mobile app that streamlines onboarding and requesting time off,to a modern experience that lets employess sign up nfor benfits online. </div>
            </div>
        </div>
       

    </section>
    <section class="section8">
        <div class="paras">
            <div class="last-text">
            <div class="last-text1">We're Here To Help You. </div>
            <div class="last-text2">Ask Us Anything </div>
            <div class="last-text3">Or Schedule A Demo Call</div>
            </div>
            <div class="button-next"><button class="last-button">Talk To Advisor</button>
                </div>
        </div>
    </section>
    <section class="section9">
        <div class="back1">
            <div class="arrow"><i class="bi bi-arrow-left-square-fill"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
            </svg>
              <i class="bi bi-arrow-right-square-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
            </svg></div>
            <div class="arrange1">
                <div class="arrange-all">
                     
                    <div class="arrange-img"><img class="latest-image" src="../static/img5.jpg" alt=""> </div>
                    <div class="specs">
                        <div class="names">
                            <div class="name2">Ashley Landazo</div>
                            <div class="name3">Manager</div>
                        </div>
                        <div class="star"><i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <i class="bi bi-star-fill"></i></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                          <i class="bi bi-star-fill"></i>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                       
                        </div>
                         </div>   

                </div>
                    
                        

                  
                   
                <div class="arrange3">
                 <div class="message">
                     <div class="script">When we onboard our employees, its really quick and easy. Wew get tom focus on making sure that ther're okay and happy and being introduced to the company</div>
                 </div>
                 <div class="photos">
                     <div class="arrange-p"> 
                     <div class="photo1"><img class="img5" src="../static/img1.jpg" alt=""></div>
                     <div class="photo1"><img  class="img5" src="../static/img2.jpg" alt=""></div>
                     <div class="photo1"><img class="img6" src="../static/img5.jpg" alt=""></div>
                     <div class="photo1"><img  class="img5" src="../static/img4.jpg" alt=""></div>
                     <div class="photo1"><img  class="img5" src="../static/img3.jpg" alt=""></div>
                 </div>
                 </div>
                </div>
                 
            </div>

            
        </div>
    </section>
    <section class="section10">
        <div class="last-area">
        <div class="start">
        <div class="line-start">Get Your Team</div>
        <div class="line-middle">Working With</div>
        <div class="line-end">Us!</div>
        </div>
        <div class="exit-button"><button class="started">Get Started</button></div>
        </div>  
    </section>
    <section class="section11">
        <div class="footer">
            <div class="footer1">
                <div class="last-head">All-in-one platform</div>
                <div class="f1">Payroll</div>
                <div class="f1">Employee benefits</div>
                <div class="f1">Health insurance</div>
                <div class="f1">Financial benefits</div>
                <div class="f1">Hiring and onboarding</div>
                <div class="f1">Expert HR</div>
                <div class="f1">Time tracking</div>
                <div class="f1">Worker's comp</div>
                <div class="f1">Integration</div>
                <div class="f1">Gusto Wallet</div>
                <div class="f1">Gusto Partner Offers</div>
            </div>
        
             <div class="footer1">
                <div class="last-head">Tools</div>
                <div class="f1">Small Business Financial Relief</div>
                <div class="f1">Employer tax calculator</div>
                <div class="f1">Burn rate calculator</div>
                <div class="f1">Salary comaprison tool</div>
                <div class="f1">New hire checklist</div>
                <div class="f1">Small business guides</div>
                 <div class="social">
                     <div class="f3">Social</div>
                     <div class="s1"><i class="bi bi-facebook"></i>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                     </svg></div>
                     <div class="s1"><i class="bi bi-instagram"></i>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                     </svg></div>
                 </div>
                 <div class="social">
                    <div class="f3">Contact</div>
                    <div class="s2">0012576569</div>
                    
                </div>



             </div>
             <div class="footer1">
                <div class="last-head">About Gusto</div>
                <div class="f1">About</div>
                <div class="red">
                <div class="f1">Careers-</div>
                <div class="f2">We're hiring</div>
                 </div>
                <div class="f1">Press</div>
                <div class="f1">Contact</div>
                <div class="f1">Investors</div>
                <div class="f1">Affiliate program</div>


             </div>
             
        </div>
    </section>
    <script src="../static/index.js")></script>

</body>
</html>